## Preprocessing

In [1]:
# Import the required modules
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np


# Machine Learning
from sklearn.model_selection import train_test_split, cross_val_score, StratifiedKFold

# Metrics
from sklearn.metrics import confusion_matrix, classification_report, roc_auc_score, roc_curve, RocCurveDisplay

# Pre-Processing
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer


# Tensorflow
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import ModelCheckpoint
from tensorflow.keras.callbacks import EarlyStopping

# suppress warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

In [4]:
application_df.describe()

                EIN        STATUS       ASK_AMT  IS_SUCCESSFUL
count  3.429900e+04  34299.000000  3.429900e+04   34299.000000
mean   5.191852e+08      0.999854  2.769199e+06       0.532406
std    2.451472e+08      0.012073  8.713045e+07       0.498956
min    1.052060e+07      0.000000  5.000000e+03       0.000000
25%    2.748482e+08      1.000000  5.000000e+03       0.000000
50%    4.656317e+08      1.000000  5.000000e+03       1.000000
75%    7.526117e+08      1.000000  7.742000e+03       1.000000
max    9.960869e+08      1.000000  8.597806e+09       1.000000

In [5]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
cols_to_drop = ["EIN", "NAME"]
application_df.drop(columns=cols_to_drop, inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [6]:
application_df.columns

Index(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [7]:
# Determine the number of unique values in each column.
cols = ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL']

for col in cols:
  print(col)
  print(application_df[col].nunique())
  print(application_df[col].value_counts())
  print()

APPLICATION_TYPE
17
APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

AFFILIATION
6
AFFILIATION
Independent         18480
CompanySponsored    15705
Family/Parent          64
National               33
Regional               13
Other                   4
Name: count, dtype: int64

CLASSIFICATION
71
CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

USE_CASE
5
USE_CASE
Preservation     28095
ProductDev        5671
CommunityServ      384
Heathcare          146
Other                3
Name: count, dtype: int64

ORGANIZATION
4
ORGANIZATION
Trust           23515
Association     10255
Co-operative      486
Corporation        43
Name: count, dtype: int64

STATUS
2
STATUS
1    34294
0        5
Name: count, dtype: int64

INCOME_AMT
9
INCOME_AMT
0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: count, dtype: int64

SPECIAL_CONSIDERATIONS
2
SPECIAL_CONSIDERATIONS
N    34272
Y       27
Name: count, dtype: int64

ASK_AMT
8747
ASK_AMT
5000        25398
10478           3
15583           3
63981           3
6725            3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: count, Length: 8747, dtype: int64

IS_SUCCESSFUL
2
IS_SUCCESSFUL
1    18261
0    16038
Name: count, dtype: int64

In [8]:
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [9]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
app_type_unique = application_df["APPLICATION_TYPE"].value_counts()
app_type_unique

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [10]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type_unique[app_type_unique <500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [11]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
class_unique =application_df["CLASSIFICATION"].value_counts()
class_unique

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [12]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_unique.loc[class_unique > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [13]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_unique[class_unique <500].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: count, dtype: int64

### **Other columns**

In [14]:
# Look at AFFILIATION value counts to identify and replace with "Other
afiliations_unique = application_df["AFFILIATION"].value_counts()
afiliations_unique

AFFILIATION
Independent         18480
CompanySponsored    15705
Family/Parent          64
National               33
Regional               13
Other                   4
Name: count, dtype: int64

In [15]:
# Choose a cutoff value and create a list of afiliations to be replaced
# use the variable name `afiliations_to_replace`
afiliations_to_replace = list(afiliations_unique[afiliations_unique <10000].index)


# Replace in dataframe
for cls in afiliations_to_replace:
  application_df['AFFILIATION'] =application_df['AFFILIATION'].replace(cls,"Other")


# Check to make sure replacement was successful
application_df['AFFILIATION'].value_counts()

AFFILIATION
Independent         18480
CompanySponsored    15705
Other                 114
Name: count, dtype: int64

In [16]:
# Look at USE_CASE value counts to identify and replace with "Other
use_case_unique = application_df["USE_CASE"].value_counts()
use_case_unique

USE_CASE
Preservation     28095
ProductDev        5671
CommunityServ      384
Heathcare          146
Other                3
Name: count, dtype: int64

In [17]:
# Choose a cutoff value and create a list of USE CASE to be replaced
# use the variable name `afiliations_to_replace`
use_case_to_replace = list(use_case_unique[use_case_unique <500].index)


# Replace in dataframe
for cls in use_case_to_replace:
  application_df['USE_CASE'] =application_df['USE_CASE'].replace(cls,"Other")


# Check to make sure replacement was successful
application_df['USE_CASE'].value_counts()

USE_CASE
Preservation    28095
ProductDev       5671
Other             533
Name: count, dtype: int64

In [18]:
# Look at ORGANIZATION value counts to identify and replace with "Other
organizations_unique = application_df["ORGANIZATION"].value_counts()
organizations_unique

ORGANIZATION
Trust           23515
Association     10255
Co-operative      486
Corporation        43
Name: count, dtype: int64

In [19]:
# Choose a cutoff value and create a list of organizations to be replaced
# use the variable name `afiliations_to_replace`
organizations_to_replace = list(organizations_unique[organizations_unique <500].index)


# Replace in dataframe
for cls in organizations_to_replace:
   application_df['ORGANIZATION'] =application_df['ORGANIZATION'].replace(cls,"Other")


# Check to make sure replacement was successful
application_df['ORGANIZATION'].value_counts()

ORGANIZATION
Trust          23515
Association    10255
Other            529
Name: count, dtype: int64

In [20]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df2 = pd.get_dummies(application_df)
application_df2.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,AFFILIATION_Independent,AFFILIATION_Other,CLASSIFICATION_C1000,CLASSIFICATION_C1200,CLASSIFICATION_C2000,CLASSIFICATION_C2100,CLASSIFICATION_C3000,CLASSIFICATION_C7000,CLASSIFICATION_Other,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Other,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,True,True,False,False,True,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False,False,True,False,False,True,False,False,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False,True,False,False,False,False,True,True,False,False,True,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,True,False,False,False,True,False,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,False,False,False,True,False,True,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,True,False,False,False,False,False,True,False

In [21]:
# Split our preprocessed data into our features and target arrays
X = application_df2.drop('IS_SUCCESSFUL', axis=1)
y = application_df2['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(X_train.shape,X_test.shape)

(27439, 38) (6860, 38)

In [22]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [23]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  100
hidden_nodes_layer2 = 50

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"

 Layer (type)                          Output Shape                         Param #

 dense (Dense)                         (None, 100)                            3,900

 dense_1 (Dense)                       (None, 50)                             5,050

 dense_2 (Dense)                       (None, 1)                                 51

 Total params: 9,001 (35.16 KB)

 Trainable params: 9,001 (35.16 KB)

 Non-trainable params: 0 (0.00 B)

In [24]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [25]:
early_stopping = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

fit_model = nn.fit(X_train_scaled, y_train,
                   validation_data=(X_test_scaled, y_test),
                   epochs=200, batch_size=32,
                   callbacks=[early_stopping])

Epoch 1/200
858/858  5s 2ms/step - accuracy: 0.7191 - loss: 0.5724 - val_accuracy: 0.7197 - val_loss: 0.5638
Epoch 2/200
858/858  4s 4ms/step - accuracy: 0.7281 - loss: 0.5594 - val_accuracy: 0.7238 - val_loss: 0.5599
Epoch 3/200
858/858  4s 2ms/step - accuracy: 0.7297 - loss: 0.5522 - val_accuracy: 0.7214 - val_loss: 0.5603
Epoch 4/200
858/858  3s 2ms/step - accuracy: 0.7279 - loss: 0.5518 - val_accuracy: 0.7243 - val_loss: 0.5579
Epoch 5/200
858/858  2s 2ms/step - accuracy: 0.7291 - loss: 0.5486 - val_accuracy: 0.7259 - val_loss: 0.5611
Epoch 6/200
858/858  3s 3ms/step - accuracy: 0.7322 - loss: 0.5463 - val_accuracy: 0.7235 - val_loss: 0.5579
Epoch 7/200
858/858  3s 3ms/step - accuracy: 0.7355 - loss: 0.5425 - val_accuracy: 0.7229 - val_loss: 0.5562
Epoch 8/200
858/858  2s 2ms/step - accuracy: 0.7310 - loss: 0.5456 - val_accuracy: 0.7286 - val_loss: 0.5573
Epoch 9/200
858/858  3s 2ms/step - accuracy: 0.7347 - loss: 0.5446 - val_accuracy: 0.7267 - val_loss: 0.5558
Epoch 10/200
858/858  2s 2ms/step - accuracy: 0.7386 - loss: 0.5388 - val_accuracy: 0.7280 - val_loss: 0.5577
Epoch 11/200
858/858  2s 2ms/step - accuracy: 0.7335 - loss: 0.5455 - val_accuracy: 0.7249 - val_loss: 0.5562
Epoch 12/200
858/858  3s 3ms/step - accuracy: 0.7405 - loss: 0.5396 - val_accuracy: 0.7258 - val_loss: 0.5577
Epoch 13/200
858/858  4s 2ms/step - accuracy: 0.7349 - loss: 0.5446 - val_accuracy: 0.7249 - val_loss: 0.5587
Epoch 14/200
858/858  2s 2ms/step - accuracy: 0.7386 - loss: 0.5393 - val_accuracy: 0.7286 - val_loss: 0.5562
Epoch 15/200
858/858  2s 2ms/step - accuracy: 0.7322 - loss: 0.5434 - val_accuracy: 0.7239 - val_loss: 0.5558
Epoch 16/200
858/858  3s 3ms/step - accuracy: 0.7411 - loss: 0.5394 - val_accuracy: 0.7265 - val_loss: 0.5570
Epoch 17/200
858/858  3s 3ms/step - accuracy: 0.7333 - loss: 0.5416 - val_accuracy: 0.7270 - val_loss: 0.5568
Epoch 18/200
858/858  4s 2ms/step - accuracy: 0.7396 - loss: 0.5366 - val_accuracy: 0.7264 - val_loss: 0.5558
Epoch 19/200
858/858  3s 2ms/step - accuracy: 0.7349 - loss: 0.5440 - val_accuracy: 0.7265 - val_loss: 0.5552
Epoch 20/200
858/858  3s 2ms/step - accuracy: 0.7365 - loss: 0.5427 - val_accuracy: 0.7284 - val_loss: 0.5569
Epoch 21/200
858/858  4s 4ms/step - accuracy: 0.7411 - loss: 0.5353 - val_accuracy: 0.7262 - val_loss: 0.5550
Epoch 22/200
858/858  4s 2ms/step - accuracy: 0.7321 - loss: 0.5431 - val_accuracy: 0.7297 - val_loss: 0.5566
Epoch 23/200
858/858  2s 2ms/step - accuracy: 0.7399 - loss: 0.5373 - val_accuracy: 0.7300 - val_loss: 0.5593
Epoch 24/200
858/858  3s 2ms/step - accuracy: 0.7392 - loss: 0.5361 - val_accuracy: 0.7280 - val_loss: 0.5564
Epoch 25/200
858/858  3s 3ms/step - accuracy: 0.7398 - loss: 0.5376 - val_accuracy: 0.7255 - val_loss: 0.5579
Epoch 26/200
858/858  3s 4ms/step - accuracy: 0.7359 - loss: 0.5394 - val_accuracy: 0.7283 - val_loss: 0.5561
Epoch 27/200
858/858  4s 2ms/step - accuracy: 0.7450 - loss: 0.5302 - val_accuracy: 0.7235 - val_loss: 0.5581
Epoch 28/200
858/858  3s 2ms/step - accuracy: 0.7383 - loss: 0.5399 - val_accuracy: 0.7297 - val_loss: 0.5575
Epoch 29/200
858/858  2s 2ms/step - accuracy: 0.7387 - loss: 0.5366 - val_accuracy: 0.7254 - val_loss: 0.5598
Epoch 30/200
858/858  3s 3ms/step - accuracy: 0.7340 - loss: 0.5414 - val_accuracy: 0.7259 - val_loss: 0.5577
Epoch 31/200
858/858  4s 2ms/step - accuracy: 0.7397 - loss: 0.5358 - val_accuracy: 0.7290 - val_loss: 0.5564

In [26]:
# Train the model
# fit_model = nn.fit(X_train_scaled, y_train, epochs=200, validation_split=0.15, batch_size=32)

In [27]:
checkpoint = ModelCheckpoint('model_weights.weights.h5', # Added '.weights' to the filename # Save file name
                             save_weights_only=True, # Save only the weights, not the entire model
                             save_freq=5*X_train_scaled.shape[0], # save_freq is in terms of training samples  # Save weights every 5 epochs
                             save_best_only=True) # Save only if it's the best model so far

In [28]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - 1ms/step - accuracy: 0.7262 - loss: 0.5550
Loss: 0.5550407767295837, Accuracy: 0.7262390851974487

In [29]:
# Export our model to HDF5 file
nn.save('/content/Model_h5/AlphabetSoupCharity.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.